@use "sass:color";

$primary-color: #ff00ff;
$primary-color-light: color.scale($primary-color, $lightness:20%);
$primary-color-dark: color.scale($primary-color, $lightness:-20%);
$primary-color-hover: color.scale($primary-color, $lightness:10%);
$primary-color-active: color.scale($primary-color, $lightness:-10%);
$primary-color-focus: color.scale($primary-color, $lightness:-10%);
$primary-color-disabled: color.scale($primary-color, $lightness:40%);
$primary-color-rgb: 255, 0, 255;

$secondary-color: rgb(0, 255, 255);
$secondary-color-light: color.scale($secondary-color, $lightness:20%);
$secondary-color-dark: color.scale($secondary-color, $lightness:-20%);   
$secondary-color-hover: color.scale($secondary-color, $lightness:10%);
$secondary-color-active: color.scale($secondary-color, $lightness:-10%);
$secondary-color-focus: color.scale($secondary-color, $lightness:-10%);
$secondary-color-disabled: color.scale($secondary-color, $lightness:40%);
$secondary-color-rgb: 0, 255, 255;

$primary-background-color: rgb(0, 0, 0);
$primary-background-color-light: color.scale($primary-background-color, $lightness:15%);
$primary-background-color-lighter: color.scale($primary-background-color, $lightness:30%);
$primary-background-color-dark: color.scale($primary-background-color, $lightness:-20%);
$primary-background-color-hover: color.scale($primary-background-color, $lightness:10%);

$primary-color-text: white;