@use "variables" as *;
@use 'primeicons/primeicons.css';
@use 'material-icons/iconfont/material-icons.css';

:root { 
    --p-primary-color: rgb(255, 0, 255);
    --p-button-outlined-primary-border-color: rgb(255, 0, 255);
    --p-button-outlined-primary-hover-background: rgba(255, 0, 255, .3);
    --p-button-primary-hover-background: rgb(214, 0, 214);
    --p-button-primary-hover-border-color: rgb(255, 0, 255);
    --p-button-text-primary-hover-background: rgba(255, 0, 255, .1);

    --background-color: rgb(255, 255, 255);
    --active-background-color: rgba(185, 185, 185, 0.3);
    --hover-background-color: rgba(185, 185, 185, 0.2);
    --border-color: rgba(185, 185, 185, 0.5);
    --border-color-lighter: rgba(0,0,0);

    --text-color: rgba(0, 0, 0);
    --text-color-secondary: rgb(42, 42, 42);
    --text-color-tertiary: rgb(92, 92, 92);
}

:root[class="my-app-dark"] { 
    --p-primary-color: rgb(255, 0, 255);
    --p-button-outlined-primary-border-color: rgb(255, 0, 255);
    --p-button-outlined-primary-hover-background: rgba(255, 0, 255, .3);
    --p-button-primary-hover-background: rgb(214, 0, 214);
    --p-button-primary-hover-border-color: rgb(255, 0, 255);
    --p-button-text-primary-hover-background: rgba(255, 0, 255, .1);

    --background-color: rgb(24, 24, 27);
    --active-background-color: rgba(185, 185, 185, 0.2);
    --hover-background-color: rgba(185, 185, 185, 0.3);
    --border-color: rgba(185, 185, 185, 0.3);
    --border-color-lighter: rgba(255, 255, 255);

    --text-color: rgba(255, 255, 255);
    --text-color-secondary: rgb(213, 213, 213);
    --text-color-tertiary: rgb(163, 163, 163);
}

@media (width <= 1100px) {
    .nav-link {
        display: flex;
        justify-content: center;
    }


}
  


.text-primary {
    color: var(--text-color) !important;
}

.text-secondary {
    color: var(--text-color-secondary) !important;
}

.text-tertiary {
    color: var(--text-color-tertiary) !important;
}

.bg {
    background-color: var(--background-color) !important;
}



.btn {
    background-color: transparent !important;
    border: 1px solid $primary-color !important;

    &:hover {
        background-color: rgba(255, 0, 255, .3) !important;
    }
}

.btn-secondary {
    background-color: transparent !important;
    border: 1px solid var(--border-color-lighter) !important;
    color: var(--text-color) !important;

    &:hover {
        background-color: var(--hover-background-color) !important;
    }
}

.btn-secondary-fill {
    background-color: var(--text-color) !important;
    color: var(--background-color) !important;
    border: none !important;

    &:hover {
        background-color: var(--text-color-secondary) !important;
        color: (var(--background-color)) !important;
    }
}

.hover {
    &:hover {
        background-color: var(--hover-background-color) !important;
    }
}

.nav-link {
    &:hover {
        background-color: var(--active-background-color);
    }

    .active-icon {
        display: none !important;
    }

    .default-icon {
        display: block !important;
    }
}

.active-link {
    font-weight: 900;
    background-color: var(--active-background-color);

    .active-icon {
        display: block !important;
    }

    .default-icon {
        display: none !important;
    }
}


.p-tab {
    padding: 0 !important;
    margin: 0 !important;
}

.p-tablist-tab-list {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    width: 100%;

    button {
        flex-grow: 1;
        
        a {
            padding: 15px 0 !important;
            display: flex !important;
            justify-content: center !important;
        }
    }
}

.p-tab-active {
    border-color: $primary-color !important;
}



.p-textarea {
    padding: 10px !important;
    border: 1px solid $primary-color-text !important;

    &:focus-within {
        border: 1px solid $primary-color !important;
    }
}

.p-inputgroup{
    border: 1px solid var(--border-color);
    width: 100%;
    
    &:has(.p-inputgroupaddon) .p-inputtext,
    &:has(.p-inputgroupaddon) .p-inputmask .p-inputtext {
        padding-left: 0px !important;
    }

    .p-password, .p-password.p-inputwrapper, .p-inputmask {
        width: 100%;
    }

    input, .p-inputmask, .p-inputtext {
        border: none !important;
        width: 100%;
        padding-left: 10px !important;
        background-color: transparent !important;


        &:focus {
            border: none !important; 
            outline: none !important;
            box-shadow: none !important;
        }

        &:active {
            outline: none !important;
        }
    }

    .p-inputgroupaddon {
        background-color: transparent !important;
        border: none !important;
    }

    &:focus-within {
        border: 1px solid $primary-color;

        .p-inputgroupaddon {
             * {
                color: $primary-color;
             }
        }
    }
}

.p-password-mask-icon {
    z-index: 100 !important;
}

.p-inputotp {
    input {

        &:focus {
            border: 1px solid $primary-color !important;
            outline: none;
        }
    }
}

.p-select {
    border: 1px solid var(--border-color) !important;
    background-color: transparent !important;

    &:focus-within {
        border: 1px solid $primary-color !important;
    }
}

.p-select-option-selected {
    background-color: $primary-background-color-lighter !important;
}