@use "variables" as *;
@import 'primeicons/primeicons.css';
@import 'material-icons/iconfont/material-icons.css';


.bg-primary {
    background-color: $primary-color !important;
}

.btn {
    background-color: transparent !important;
    color: white !important;
    border-color: $primary-color !important;

    &:hover {
        background-color: rgba(255, 0, 255, .3) !important;
        color: white !important;
    }
}

.btn-secondary {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;

    &:hover {
        background-color: rgba(255, 255, 255, .3) !important;
        color: white !important;
    }
}


.p-tab {
    padding: 0 !important;
    margin: 0 !important;
}

.p-tablist-tab-list {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    width: 100%;
    background-color: $primary-background-color-light !important;

    button {
        flex-grow: 1;
        padding: 15px 0 !important;
        
        a {
            display: flex !important;
            justify-content: center !important;
        }
    }
}

.p-tab-active {
    color: $primary-color-text !important;
    border-color: $primary-color !important;
}

.p-tablist-active-bar {
    background-color: $primary-color !important;
}




.p-inputgroup{
    border: 1px solid white;
    width: 100%;
    
    &:has(.p-inputgroupaddon) input,
    &:has(.p-inputgroupaddon) .p-inputmask .p-inputtext {
        padding-left: 0px !important;
    }

    .p-password, .p-password.p-inputwrapper, .p-inputmask {
        width: 100%;
    }

    input, .p-inputmask .p-inputtext {
        border: none !important;
        width: 100%;
        padding-left: 10px !important;
        background-color: transparent !important;


        &:focus {
            border: none !important; 
            outline: none !important;
            box-shadow: none !important;
        }

        &:active {
            outline: none !important;
        }
    }

    .p-inputgroupaddon {
        background-color: transparent !important;
        border: none !important;
    }

    &:focus-within {
        border: 1px solid $primary-color;

        .p-inputgroupaddon {
             * {
                color: $primary-color;
             }
        }

        // .toggle_mask {
        //     color: $primary-color-text;
        // }
    }
}

.p-password-mask-icon {
    z-index: 100 !important;
}

.p-inputotp {
    input {

        &:focus {
            border: 1px solid $primary-color !important;
            outline: none;
        }
    }
}